%script{ type: 'text/ng-template', id: 'users/index.html' }
  %table
    %thead
      %tr
        %th Name
        %th Value
        %th Actions
    %tbody{ 'ng-repeat' => 'user in users' }
      %tr
        %td {{ user.first_name }}
        %td {{ user.last_name }}
        %td
          %a{ href: true, 'ng-click' => 'edit(element)' }
            Edit
