%script{ type: 'text/ng-template', id: 'persons/index.html' }
  %table
    %thead
      %tr
        %th Name
        %th Value
        %th Actions
    %tbody{ 'ng-repeat' => 'person in persons' }
      %tr
        %td {{ person.firstName }}
        %td {{ person.lastName }}
        %td
